<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechVerse</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="/Images/Logo/Logo.png">
    <link rel="stylesheet" href="css/Main_Style.css">
    </head>
<body>

<%- include('partials/header', { currentPage: 'home', user: user }) %>

<section id="Hero_Section">
    <h4>TechVerse</h4>
    <h2>Your Gateway To The</h2>
    <h1>Future of Electronics</h1>
    <p>Discover top-tier gadgets, accessories, and exclusive deals — all in one place</p>
    <a href="/shop"><button>Shop Now</button></a>
</section>

<section id="Features" class="section-p1">
    <div class="Feature_Box">
        <img src="/Images/Features/Free Delivery.png" alt="Free Shipping">
        <h6>Free Shipping</h6>
    </div>
    <div class="Feature_Box">
        <img src="/Images/Features/Save Money.png" alt="Save Money">
        <h6>Save Money</h6>
    </div>
    <div class="Feature_Box">
        <img src="/Images/Features/Promotions.png" alt="Promotions">
        <h6>Promotions</h6>
    </div>
    <div class="Feature_Box">
        <img src="/Images/Features/Eco-Friendly.png" alt="Eco-Friendly">
        <h6>Eco-Friendly Packaging</h6>
    </div>
    <div class="Feature_Box">
        <img src="/Images/Features/New Arrivals.png" alt="New Arrivals">
        <h6>New Arrivals</h6>
    </div>
    <div class="Feature_Box">
        <img src="/Images/Features/Fast Delivery.png" alt="Fast Delivery">
        <h6>Fast Delivery</h6>
    </div>
</section>

<section id="small-banner" class="section -p1">
    <div class="banner-box1">
        <h4>Welcome To The Future</h4>
        <h2>Apple Intelligence</h2>
        <span>Where Innovation Meets Intuition.<br> With The Power To Understand, Assist, And Evolve,<br> A New Era Of Smart Technology Begins</span>
    </div>
    <div class="banner-box2">
        <h4>Say Hello To</h4>
        <h2>Galaxy AI</h2>
        <span>The Future Of Smart Technology Is Here.<br>Where Innovation Meets Intelligence <br>To Redefine Tech As We Know It</span>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Hot Drops</h2>
    <p>The Drop You’ve Been Waiting For</p>
    <div class="pro-container">
        <div class="pro" onclick="window.location.href='/product/684c0f7f4f652d3eb8f84868'">
            <img src="/Images/Products/iPhone 16.jpg" alt="iphone 16">
            <div class="description">
                <span>Apple</span>
                <h5>iphone 16</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$799</h4>
            </div>
            <a href="/product/684c0f7f4f652d3eb8f84868" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c10d44f652d3eb8f84883'">
            <img src="/Images/Products/Samsung 25 Ultra.jpeg" alt="Samsung 25 Ultra">
            <div class="description">
                <span>Samsung</span>
                <h5>Samsung 25 Ultra</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$1,299</h4>
            </div>
            <a href="/product/684c10d44f652d3eb8f84883" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c17624f652d3eb8f848ae'">
            <img src="/Images/Products/Samsung Galaxy A56.jpg" alt="Samsung Galaxy A56">
            <div class="description">
                <span>Samsung</span>
                <h5>Samsung Galaxy A56</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$439</h4>
            </div>
            <a href="/product/684c17624f652d3eb8f848ae" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
    </div>
</section>

<section id="banner" class="section-m1">
    <h4>Upgrade Your Tech</h4>
    <h2>Up To <span>20% Off</span> - Find The Best Deals On Electronics and Accessories</h2>
    <a href="/shop"><button class="normal">Shop Now</button></a>
</section>

<section id="product1" class="section-p1">
    <h2>Best Sellers</h2>
    <p>Our Most Bought Products</p>
    <div class="pro-container">
        <div class="pro" onclick="window.location.href='/product/684c0f7f4f652d3eb8f84868'">
            <img src="/Images/Products/iPhone 16.jpg" alt="iphone 16">
            <div class="description">
                <span>Apple</span>
                <h5>iphone 16</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$799</h4>
            </div>
            <a href="/product/YOUR_IPHONE_16_ID_HERE" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/YOUR_SAMSUNG_GALAXY_A15_ID_HERE'">
            <img src="/Images/Products/Samsung Galaxy A15.jpg" alt="Samsung Galaxy A15">
            <div class="description">
                <span>Samsung</span>
                <h5>Samsung Galaxy A15</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$150</h4>
            </div>
            <a href="/product/YOUR_SAMSUNG_GALAXY_A15_ID_HERE" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c12e14f652d3eb8f84889'">
            <img src="/Images/Products/Apple iPad Pro.png" alt="ipad Pro">
            <div class="description">
                <span>Apple</span>
                <h5>Apple ipad Pro</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$1200</h4>
            </div>
            <a href="/product/684c12e14f652d3eb8f84889" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c13764f652d3eb8f8488d'">
            <img src="/Images/Products/Microsoft Surface Laptop 7th Edition.jpg" alt="Microsoft Surface Laptop 7th Edition">
            <div class="description">
                <span>Microsoft</span>
                <h5>Microsoft Surface Laptop 7th Edition</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$899</h4>
            </div>
            <a href="/product/684c13764f652d3eb8f8488d" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c13de4f652d3eb8f84891'">
            <img src="/Images/Products/Apple MacBook Air.jpg" alt="Apple MacBook Air">
            <div class="description">
                <span>Apple</span>
                <h5>Apple MacBook Air</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$1199</h4>
            </div>
            <a href="/product/684c13de4f652d3eb8f84891" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c14364f652d3eb8f84895'">
            <img src="/Images/Products/Asus Zenbook S 14.png" alt="Asus Zenbook S 14">
            <div class="description">
                <span>Asus</span>
                <h5>Asus Zenbook S 14</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$999</h4>
            </div>
            <a href="/product/684c14364f652d3eb8f84895" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c14cd4f652d3eb8f84899'">
            <img src="/Images/Products/Apple Watch Series 10.jpg" alt="Apple Watch Series 10">
            <div class="description">
                <span>Apple</span>
                <h5>Apple Watch Series 10</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$699</h4>
            </div>
            <a href="/product/684c14cd4f652d3eb8f84899" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c15404f652d3eb8f8489d'">
            <img src="/Images/Products/HUAWEI Watch GT5.png" alt="Huawei Watch GT5">
            <div class="description">
                <span>Huawei</span>
                <h5>Huawei Watch GT5</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$270</h4>
            </div>
            <a href="/product/684c15404f652d3eb8f8489d" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c16ee4f652d3eb8f848ab'">
            <img src="/Images/Products/Samsung Galaxy Watch 7.png" alt="Samsung Galaxy Watch 7">
            <div class="description">
                <span>Samsung</span>
                <h5>Samsung Galaxy Watch 7</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$330</h4>
            </div>
            <a href="/product/684c16ee4f652d3eb8f848ab" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c15c04f652d3eb8f848a0'">
            <img src="/Images/Products/Apple Airpods 4.jpg" alt="Apple Airpods 4">
            <div class="description">
                <span>Apple</span>
                <h5>Apple Airpods 4</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$180</h4>
            </div>
            <a href="/product/684c15c04f652d3eb8f848a0" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c161c4f652d3eb8f848a3'">
            <img src="/Images/Products/Sony WF-1000XM5.jpg" alt="Sony WF-1000XM5">
            <div class="description">
                <span>Sony</span>
                <h5>Sony WF-1000XM5</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$299</h4>
            </div>
            <a href="/product/684c161c4f652d3eb8f848a3" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='/product/684c16764f652d3eb8f848a6'">
            <img src="/Images/Products/Apple Airpods 2.jpg" alt="Apple Airpods 2">
            <div class="description">
                <span>Apple</span>
                <h5>Apple Airpods Pro 2nd Generation</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$250</h4>
            </div>
            <a href="/product/684c16764f652d3eb8f848a6" class="cart2"><i class="fa-solid fa-cart-plus"></i></a>
        </div>
    </div>
</section>

<hr>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="/Images/Logo/TechVerse.png" width="286px" height="82px" alt="TechVerse Logo">
        <h4>Contact</h4>
        <p><b>Address :</b> KM 28 Cairo – Ismailia Road، Ahmed Orabi District، القاهرة</p>
        <p><b>Email :</b> miu@techverse.eg</p>
        <p><b>Hotline :</b> (718) 555-1941</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="/about">About Us</a>
        <a href="/terms">Terms & Condition</a>
        <a href="/contact">Contact Us</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="/login">Sign In</a>
        <a href="/cart">View Cart</a>
    </div>

    <div class="col install">
        <p>Secured Payment Gateways</p>
        <img src="/Images/Banner/Visa And Mastercard.jpg" alt="Visa and Mastercard" width="207" height="65">
    </div>

    <div class="copyright">
        <p>2025, TechVerse Website</p>
    </div>
</footer>

<%- include('partials/common_scripts') %>

</body>
</html>